<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Demo</title>
        <script src="https://by-health-cdn.oss-cn-beijing.aliyuncs.com/region/regions.js"></script>
        <script src="./themedata.js"></script>
        <script>
            window.onerror = function (
                errorMessage,
                scriptURI,
                lineNumber,
                columnNumber,
                errorObj
            ) {
                alert(
                    errorMessage +
                        '\n' +
                        scriptURI +
                        '\n' +
                        lineNumber +
                        '\n' +
                        columnNumber +
                        '\n' +
                        errorObj
                );
            };
        </script>
        <style>
            #wrap {
                width: 100%;
            }

            button {
                width: 100%;
                height: 3em;
                font-size: 1em;
                background-color: green;
                color: #fff;
                border: none;
                margin-bottom: 10px;
            }

            .parent {
                float: left;
                width: 100px;
                height: 100px;
                position: relative;
            }

            .parentbox {
                width: 300px;
                margin: 0 auto 20px auto;
            }

            @keyframes pulse {
                0% {
                    background-position-x: 200px;
                }
                5% {
                    background-position-x: 0;
                }
                10% {
                    background-position-x: -200px;
                }
                15% {
                    background-position-x: -400px;
                }
                20% {
                    background-position-x: -400px;
                }
                25% {
                    background-position-x: -600px;
                }
                30% {
                    background-position-x: -800px;
                }
                35% {
                    background-position-x: -1000px;
                }
                100% {
                }
            }
        </style>
    </head>

    <body>
        <div id="wrap"></div>
        <button id="btna">填写收货人地址</button>
        <button id="btnb">失败弹窗模块</button>
        <button id="btnc">成功弹窗模块</button>
        <button id="btnd">消息弹窗</button>
        <div class="parentbox clearfix">
            <div id="parentId1" class="parent"></div>
            <div id="parentId2" class="parent"></div>
            <div id="parentId3" class="parent"></div>
        </div>
    </body>
    <script>
        var AddressModal = ___WALLE___.AddressModal;

        var ResultModal = ___WALLE___.ResultModal;
        var NoticeModal = ___WALLE___.NoticeModal;
        var Msg = ___WALLE___.Msg;
        var Loading = ___WALLE___.Loading;
        var timer = null;

        var btna = document.getElementById('btna');
        var btnb = document.getElementById('btnb');
        var btnc = document.getElementById('btnc');
        var btnd = document.getElementById('btnd');

        btna.onclick = function () {
            address.showModal(
                function (data) {
                    new Promise(function (resolve) {
                        setTimeout(function () {
                            resolve('提交成功');
                        }, 3000);
                    });
                },
                function () {
                    console.log('关闭地址弹窗');
                },
                function (res, data) {
                    console.log(res, data);
                }
            );
        };

        btnb.onclick = function () {
            falied
                .showModal({
                    prizeName: '谢谢参与',
                    prizeAlias: '别名',
                    awardMsg: '获奖感言',
                    prizeImg:
                        'http://m.by-health.com/assets/images/2f14c57348b0353b57abf71bce5c52f7.png',
                    memo: '奖品备注',
                })
                .then(function () {
                    console.log('falied Go!');
                });
        };

        btnd.onclick = function () {
            notice
                .showModal({
                    title: '对不起',
                    content: '文本内容',
                })
                .then(function () {
                    console.log('notice Go!');
                });
        };
        var popularCities = [
            { name: '北京', id: ['12', '1210'] },
            { name: '上海', id: ['34', '3410'] },
            { name: '广州', id: ['15', '1513'] },
        ];
        // 收获地址模块
        var address = new AddressModal({
            AddressModalTheme: window.themedata.AddressModalTheme, // 弹窗皮肤
            outerFrameId: 'wrap', // 弹窗所属父级ID
            MessageTheme: window.themedata.MessageTheme,
            playerPhone: 13111121112,
            receiverInfo: {
                idCard: 123123123123123123,
                address: '省市区详细地址',
                regionName: ['广东省', '广州市', '天河区'],
                region: ['15', '1513', '151315'],
                receiverPhone: 13555555555,
                receiverName: 'name',
            },
            AddressPicker: {
                popularCities: popularCities,
            },
            cardIdRequest: 2, // 1 隐藏身份证，2 验证身份证，3 身份证为空时不验证有填写时验证，4 不验证身份证
            checkVerificationCode: function () {
                return new Promise(function (resolve, reject) {
                    resolve();
                });
            },
        });

        // 活动失败弹窗
        var falied = new ResultModal({
            style: window.themedata.FailedModalTheme,
            // modalTitle: '很遗憾',
            onCancel: function () {
                console.log('关闭失败弹窗');
            },
            onEnsure: function (prize) {
                console.log('确定失败弹窗', prize);
            },
            submitText: '知道了',
            outerFrameId: 'wrap', // 弹窗所属父级ID
        });

        // 活动获奖弹窗
        var success = new ResultModal({
            style: window.themedata.SuccessModalTheme,
            modalTitle: '恭喜您，获得',
            onCancel: function () {
                console.log('关闭成功弹窗');
            },
            onEnsure: function (prize) {
                console.log('确定成功弹窗', prize);
            },
            submitText: '知道了',
            outerFrameId: 'wrap', // 弹窗所属父级ID
            animation: {
                form: 'flipInY',
            },
        });

        // 消息弹窗
        var notice = new NoticeModal(window.themedata.NoticeModalTheme, 'wrap');

        // btnc.onclick = function () {
        success
            .showModal({
                prizeName: '蛋白粉',
                prizeAlias: '别名',
                awardMsg: '获奖感言',
                prizeImg:
                    'http://by-health-portal-2019.oss-cn-shenzhen.aliyuncs.com/product/album/AA010102/AA010102.jpg',
                memo: '奖品备注',
            })
            .then(function () {
                console.log('success Go!');
            });
        // };
    </script>
</html>
